{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="" style="height:92vh; display: flex; align-items: center; justify-content: center;">
    <div class="col-6">
        <h1>Habib Restaurant</h1>
        <p>
            For over 20 years, Aram and Rose Serobian have been inviting friends and neighbors into Home restaurant, a Craftsman-style house in Los Feliz, which they said reminded them of back home.        </p>
    </div>
    <div>
        <img src="{% static 'images.jpg' %}" alt="food" style="height:80vh;">
    </div>
</div>
{% endblock %}