
.navber-container{
    background: linear-gradient(135deg, #040641 10.47%, #3F0753 98.32%);
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo{
    /* width: 100px; */
    /* padding-top: px; */
    display: flex;
}
.logot{
    
    list-style: none;
    gap: 30px;
    color: white;
}
.menus-container{
    display: flex;
    list-style: none;
    gap: 70px;
    color: white;
}
.contact{
    
    background: linear-gradient(135deg, #040641 10.47%, #3F0753 98.32%);
    border-radius: 5px;
    color: white;
    
}
.main1{
    background: linear-gradient(135deg, #040641 10.47%, #3F0753 98.32%);
    height: 888px;
}
.main2{
    font-size: 20px;
    color: white;
    list-style: none;

}